<!DOCTYPE html>
<html>
    <head>
        <title>Database Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
            #map {
              height: 600px;
              width: 100%;
            }
            .btn {
                display: inline-block;
                margin: 5px; 
            }
          </style>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Database Project</a>
            </div>
            <div class="collapse navbar-collapse">
            </div>
        </div>
    </nav>